.delete-customer-modal {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    padding: 10px;
}

.delete-customer-modal-buttons {
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    background-color:rgb(220, 5, 5);
    color: white;
    font-size: x-large;
    font-weight: 900;
}

.dont-delete-customer-modal-buttons {
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    background-color: #1b3c59;
    color: white;
    font-size: x-large;
    font-weight: 900;
}

.delete-customer-modal-buttons:hover {
    background-color: rgb(255, 30, 30);
    box-shadow: 2px 2px 3px 2px rgb(84, 1, 1);
}

.dont-delete-customer-modal-buttons:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px 2px rgb(72, 41, 63);
}