.macro-card {
    
}

.macro-header {
    padding: 20px;
}

.macro-labels {
    border-bottom: solid black 1px;
}

#view-macro-headers {
    margin-right: 50px;
   
    
}

.view-macro-preview {
    text-decoration: none;
    color: black;
}

.macro-element {
    
}

#macro-card-and-headers {
  display: flex;
  padding: 20px;
  border-bottom: solid black 1px;
}