#button-inner-container {
    display: flex;
}

.macro-header {
    padding: 20px;
}

.macro-labels {
    border-bottom: solid black 1px;
}

#view-macro-headers {
    margin-right: 50px;
   
    
}

.macro-buttons {
    padding-top: 5px;
    margin-left: 20px;
    margin-top: 30px;
    height: 25px;
    width: 80px;
    border-radius: 20px;
    background-color: #1b3c59;
    color: white;
    font-weight: bolder;
    font-size: large;
    list-style-type: none;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

.macro-buttons:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px 2px rgb(72, 41, 63);
}

.view-macro-preview {
    text-decoration: none;
    color: black;
}

#macro-card-and-headers {
  display: flex;
  padding: 20px;
  border-bottom: solid black 1px;
}

#macro-description {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-wrap: break-word;
    height: 50px;
    width: 1111px;
    margin-right: 10px;
   
}