@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

#view-macro-top-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f7fa;
    border-radius: 12px;
  
}
.macro-header {
    text-align: center;
}
#macro-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1860px;
    background-color: #ffffff;
    margin-bottom: 4px;
    border-radius: 12px;
}
#macro-card-and-headers {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#button-inner-container {
    display: flex;
    flex-direction: column;
}

.macro-header {
    padding: 20px;
}

.macro-labels {
    border-bottom: solid black 1px;
    width: 100%;
}

#view-macro-headers {
    margin-right: 50px;
   
    
}

.macro-buttons {
    padding-top: 5px;
    margin-left: 20px;
    margin-top: 30px;
    height: 25px;
    width: 80px;
    border-radius: 20px;
    background: linear-gradient(135deg, #3f51b5, #2196f3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    color: white;
    font-weight: bolder;
    font-size: large;
    list-style-type: none;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

.macro-buttons:hover {
    background: #2196f3;
}

.view-macro-preview {
    width: 100%;
    text-decoration: none;
    color: black;
}

#macro-card-and-headers {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

#macro-description {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin-right: 10px;
   
}
#macro-button-container {
    display: flex;
    padding-right: 8px;
}

.macro-element {
    width: 90%;
}

.macro-card {
    width: 100%;
}

@media (max-width: 1900px) {
    #macro-button-container {
        width: 860px;
    }
}
@media (max-width: 1010px) {
    #macro-description {
        width: 100%;
    }

    #view-macro-headers {
        margin-right: 45px;
    }
    .macro-card {
        margin-right: 10px;
    }

    #macro-button-container {
        width: 720px;
    }
}

@media (max-width: 803px) {
    #macro-button-container {
        width: 320px;
        flex-direction: column;
    }

    #button-inner-container {
        flex-direction: row;
        padding-bottom: 4px;
    }
}