@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.customer-card {
    display: flex;
    justify-content: center;
    width: 2090px;
    border:rgb(229, 238, 238) 1px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 4px;
    margin-top: 4px;
    padding-right: 2px;
    padding-left: 2px;
    color: #4a4a4a;
    
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.customer-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1850px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: solid black 1px;
    color: #2e2e2e;
}

.customer-labels {
    border-right: solid black 1px;
    padding-right: 10px;
}

#view-customer-headers {
    display: flex;
    width: 1840px;
    justify-content: space-between;
    margin: auto;
    border-bottom: solid black 1px;
    color: #2e2e2e;
}

.view-customer-preview {
    width: 1850px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}


.customer-element {
    width: 10%;
}

.customer-buttons {
    list-style: none;
    text-align: center;
    padding: 5px;
    width: 50px;
    margin-top: 5px;
    margin-left: 50px;
    border-radius: 20px;
    background: linear-gradient(135deg, #3f51b5, #2196f3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    color: white;
    cursor: pointer;
}

.customer-buttons:hover {
    background: #2196f3;
   
}

#hidden {
    display: none;
}

#whole-customer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
    
}

.very-outside-customer {
    display: flex;
  
}


#the-outer-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
    padding: 5px;
    align-self: center;
}

@media (max-width: 2310px) {


    .customer-card {
        width: 1790px;
    }

    .customer-header {
        width: 850px;
    }

    #view-customer-headers {
        width: 840px;
    }

    .view-customer-preview {
        width: 850px;
    }
}

@media (max-width: 2000px) {
    .customer-card {
        width: 1400px;
    }
}
@media (max-width: 1600px) {

    .customer-header {
        text-align: center;
        width: 520px;
       
    }

    #view-customer-headers {
        width: 520px;
    }

    .view-customer-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .customer-element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        overflow: scroll;
    }
    #whole-customers {
        width: 100%;
        margin: auto;
        
    }
    #button-container {
        display: flex;
        width: 100%;
    }
    .customer-buttons {
       margin: 0px;
       width: 100%;
       margin-bottom: 10px;
    }

    .pad-label {
        padding-right: 60px;
    }

    .customer-card {
        width: 920px;
    }
}

@media (max-width: 1215px) {
    .customer-card {
        width: 680px
    }
}

@media (max-width: 690px) {
    #whole-customers {
        width: 95%;
    }
    .customer-card {
        width: 320px;
    }
    #view-customer-headers {
        width: 320px;
    }
    .customer-header {
        width: 320px;
    }

    .view-customer-preview {
        width: 100%;
    }
    .pad-label {
        padding-right: 60px;
     
    }
    .customer-element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }

}
