.landing-bottom {
    display: flex;
    align-items: center;
    padding-top: 1%;
    justify-content: space-around;
    font-size: xx-large;
    background-color: white;
    padding-bottom: 100px;
    
}

.landing-bottom > h2 {
    margin: 0px;
    padding: 15px;
    color: #003c4a;
    text-shadow: .5px .5px 1px black;
}
.landing-top {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: rgb(252, 252, 252);
    color: #1b3c59;
}

.landing-h1 {
    margin: 0px;

}

.about-links {
font-size: xxx-large;
color: #014858;
}

.about-links:hover {
    color: #08c1eb;
   
    
}

.landing-h2 {
    width: 70%;
    text-align: center;
}

.landing-buttons:hover {
    background-color: #47dcfd;
    box-shadow: 3px 3px 3px rgb(72, 41, 63);
}

.landing-buttons {
    margin-left: 10px;
    width: 180px;
    height: 45px;
    border: none;
    font-size: x-large;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #08c1eb;
    border-radius: 20px;
    box-shadow: .5px 1px 1px 1px black;
    
}

.landing-button-container {
    display: flex;
}
.landing-image {
    width: 70%;
    box-shadow: .5px .5px .5px 2px black;
}

.landing-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.landing-right {
    width: 45%;
    text-align: center;
}

@media (max-width: 807px) {
    .landing-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .landing-h1 {
        width: 600px;
        text-align: center;
    }

    .landing-left {
        width: 100%
    }
    .landing-left > h2 {
        width: 600px;
    }

    .landing-image {
        width: 100%;
    }

    .landing-top {
        padding: 10px;
    }

    .landing-bottom > h2 {
        font-size: large;
    }
}