.landing-bottom {
    display: flex;
    align-items: center;
    padding-top: 1%;
    justify-content: space-around;
    font-size: xx-large;
    background-color: #9be3e0;
    padding-bottom: 100px;
    
}

.landing-bottom > h2 {
    margin: 0px;
    padding: 15px;
    color: #003c4a;
    text-shadow: .5px .5px 1px black;
}
.landing-top {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: rgb(239, 255, 247);
    color: #1b3c59;
}

.landing-h1 {
    margin: 0px;

}

.about-links {
font-size: xxx-large;
color: #014858;
}

.about-links:hover {
    color: #4170a9;
   
    
}

.landing-h2 {
    width: 70%;
    text-align: center;
}

.landing-buttons:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px rgb(72, 41, 63);
}

.landing-buttons {
    margin-left: 10px;
    width: 180px;
    height: 45px;
    border: none;
    font-size: x-large;
    color: white;
    background-color: #1b3c59;
    border-radius: 20px;
    box-shadow: .5px 1px 1px 1px black;
    
}

.landing-button-container {
    display: flex;
}
.landing-image {
    width: 70%;
    box-shadow: .5px .5px .5px 2px black;
}

.landing-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.landing-right {
    width: 45%;
    text-align: center;
}