.navigation-link {
    text-decoration: none;
    list-style: none;
    color: #3f51b5;
    width: 81px;
    
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(229, 238, 238) 1px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 1px 1px 1px #f5f7fa;
    border-radius: 12px;
    height: 600px;
    margin-right: 100px;
    padding: 5px;
    
  }
  
  .navigation-link:hover {
    color: #00b0ff;
  }
  
  #macro-link {
    color: "#3f51b5";
  }

  @media (max-width: 700px) {
    .navigation-links {
      margin: 0px;
    }
  }