#sign-up-modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
   
}

#sign-up-button {
    max-height: 50px;
    min-height: 50px;
    border-radius: 30px;
    background-color: #1b3c59;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

#sign-up-button:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px rgb(72, 41, 63);
}

#sign-up-header {
    text-align: center;
}

.sign-up-input {
    width: 97%;
    height: 40px;
   
}

.sign-up-label {
    margin-bottom: 8px;
   
}

.sign-up-errors {
    color: red;
    min-height: 5px;
    max-height: 5px;
}