#message-center {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    height: 690px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
   
}

#message-header {
    padding-bottom: 5px;
    color: #1b3c59;
    
}

#input {
    display: flex;
    flex-direction: column-reverse;
    max-height: 270px;
    min-height: 270px;
    border: #1b3c59 solid 2px;
    margin: 10px;
    overflow: scroll;
    
}

#convo-select {
    max-height: 40px;
    min-height: 40px;
    margin: 10px;
    border: #1b3c59 solid 1px;
    color: #1b3c59;
}

.message-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: #1b3c59 solid 1px;
    padding: 10px;
    margin: 10px;
    color: #1b3c59;
}

#message-input {
    border: #1b3c59 solid 1px;
    min-height: 100px;
    max-height: 100px;
    margin: 10px;
    width: 95%;
}

#message-submit {
    max-height: 50px;
    min-height: 50px;
    border-radius: 30px;
    background-color: #1b3c59;
    color: white;
    font-weight: bolder;
    font-size: larger;
    width: 95%;
    margin-bottom: 20px;
    margin-top: 5px;
    cursor: pointer;
}

#message-submit:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px 2px rgb(41, 51, 72);
  
}

.edit-button {
    list-style: none;
    text-align: center;
    padding: 5px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #1b3c59;
    color: white;
    cursor: pointer;
}

#cancel-button {
    background-color: #1b3c59;
    color: white;
    cursor: pointer;
}

#yes-delete {
    background-color: rgb(220, 5, 5);
    color: white;
    cursor: pointer;
}

.delete-confirmation {
    list-style: none;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 20px;
}
.edit-button:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px 2px rgb(41, 51, 72);
  
}

#cancel-button:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px rgb(72, 41, 63);
  
}

#yes-delete:hover {
    background-color: rgb(255, 30, 30);
    box-shadow: 2px 2px 3px rgb(84, 1, 1);
  
}
#new-log-in {
    border-radius: 20px;
    background-color: #1b3c59;
    color: white;
    width: 95%;
    margin: auto;
    min-height: 40px;
    max-height: 40px;
    cursor: pointer;
}

#new-log-in:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px 2px rgb(41, 51, 72);
  
}

.message-button-container {
    display: flex;
    justify-content: flex-end;
}

#input-label {
    margin: 0px;
    text-align: left;
    padding-left: 10px;
    font-weight: 300;
}

#convo-message {
    overflow: scroll;
    overflow-wrap: break-word;
}

.hide {
    display: none;
}