@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.view-ticket-preview {
    width: 1890px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.view-ticket-preview:hover {
    color: #2196f3;
}

.dashboard-header {
    width: 1850px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: solid black 1px;
    color: #2e2e2e;;

}
.ticket-preview-image {
    width: 100px;
    height: 100px;
    border-radius: 3em;
    align-self: center;
}

.ticket-preview-element {
    width: 8%;
}

#view-ticket-card {
    display: flex;
    justify-content: center;
    border: solid rgb(229, 238, 238) 1px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 4px;
    margin-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
    width: 1890px;
}

#view-tickets-header {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    border-bottom: solid black 1px;
    color: #2e2e2e;
}

.ticket-headers {
    border-right: solid black 1px;
    padding-right: 10px;
    color: #2e2e2e;
}
#hide {
    display: none;
}

#whole-thing {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
}

#the-outside-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 1910px) {
    #view-ticket-card {
        width: 890px;
    }

    .dashboard-header {
        width: 850px;
    }

    .view-ticket-preview {
        width: 850px;
        
    }
}

@media (max-width: 1210px) {
    .view-ticket-preview {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: none;
       
    }
    .ticket-preview-element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
    

    #view-ticket-card {
        width: 520px;
        border-bottom: solid 1px black;
    }

    #whole-thing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dashboard-header {
        text-align: center;
        width: 320px;
    }
    #subject {
       padding-right: 20px;
    }
    
    .ticket-preview-image {
        margin: auto;
        height: 351px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    #view-ticket-card {
        width: 320px;
    }

    .ticket-preview-image {
        height: 200px;
    }
}