@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.view-ticket-preview {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15%;
    margin-left: 14%;
    padding-bottom: 50px;
    border-bottom: solid black 1px;

}
.ticket-preview-image {
    width: 100px;
}

.ticket-preview-element {
    width: 8%;
}

#view-ticket-card {
    display: flex;
    justify-content: center;
}

#view-tickets-header {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    border-bottom: solid black 1px;
}

.ticket-headers {
    border-right: solid black 1px;
    padding-right: 10px;
   
}

@media (width)