#create-ticket-left-panel {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    width:15%;
}

.create-ticket-requester {
    width: 175px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
}

.create-ticket-assignee {
    width: 175px;
    height: 40px;
    border-radius: 30px;
}

.create-ticket-type {
    width: 85px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
}

.create-ticket-priority {
    width: 85px;
    height: 40px;
    cursor: pointer;
    border-radius: 30px;
}

#create-type-priority {
    display: flex;
    
}

#type {
    padding-right: 6px;
   
}

#ticket-description {
    border: solid, 1px, black;
    height: 300px;
    
}

#create-ticket-top {
    display: flex;
}

#create-ticket-title-input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 30px;
}

#create-ticket-description {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
   
}

#create-ticket-description-input {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
}

#create-ticket-middle-panel {
    width: 60%;
    padding-right: 50px;
}

#create-ticket-bottom {
    display: flex;
    justify-content: space-between;
}

#create-ticket-form {
    padding: 50px;
}

.create-ticket-button {
    height: 35px;
    width: 110px;
    align-self: flex-end;
    background-color: #1b3c59;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
}

.create-ticket-button:hover {
    background-color: #08c1eb;;
   
}
#create-macros-input {
    height: 90px;
    width: 100%;
    text-wrap: wrap;
    cursor: pointer;
    border-radius: 30px;
}

#create-ticket-image {
    width: 100%;
    padding-top: 50px;
}

#create-ticket-right {
    width: 20%;
}

.create-ticket-macro {
    width: 90%;
}

.error-message {
    color: red;
    min-height: 5px;
    max-height: 5px;
}

@media (max-width: 1116px) {
  
    #create-ticket-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
       
    }
    #create-ticket-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #create-ticket-middle-panel {
        width: 100%;
        padding: 0px;
    }
    #create-ticket-left-panel {
        width: 100%;
        padding: 0px;
    }
    .create-ticket-macro {
        width: 95%;
    }
    #create-ticket-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #create-type-priority {
        width: 100%;
   
    }
    .create-ticket-button {
        align-self: center;
        margin-top: 15px;
    }
    #type {
        width: 50%;
        padding-right: 6px;
    }
    #priority-label {
        width: 50%;
        padding-left: 6px;
    }
    .create-ticket-type {
        width: 100%;
    }
    .create-ticket-priority {
        width: 98%;
    }
    
    #img-label {
        text-align: center;
        margin-bottom: 0px;
    }
    #create-macros-input {
        margin-bottom: 15px;
    }
    #create-ticket-image {
        padding-top: 10px;
        width: 90%;

    }
    #create-ticket-right {
        width: 100%;
        text-align: center;
    }
    .create-ticket-requester {
        width: 100%;
    }
    .create-ticket-assignee {
        width: 100%;
    }
}