#create-ticket-left-panel {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    width:15%;
}

.create-ticket-requester {
    width: 175px;
    height: 30px;
}

.create-ticket-assignee {
    width: 175px;
    height: 30px;
}

.create-ticket-type {
    width: 85px;
    height: 30px;
}

.create-ticket-priority {
    width: 85px;
    height: 30px;
}

#create-type-priority {
    display: flex;
}

#type {
    padding-right: 6px;
   
}

#ticket-description {
    border: solid, 1px, black;
    height: 300px;
}

#create-ticket-top {
    display: flex;
}

#create-ticket-title-input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

#create-ticket-description {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#create-ticket-description-input {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
}

#create-ticket-middle-panel {
    width: 60%;
    padding-right: 50px;
}

#create-ticket-bottom {
    display: flex;
    justify-content: space-between;
}

#create-ticket-form {
    padding: 50px;
}

.create-ticket-button {
    height: 30px;
    width: 100px;
    align-self: flex-end;
}

#create-macros-input {
    height: 30px;
    width: 175px;
}

#create-ticket-image {
    width: 100%;
    padding-top: 50px;
}

#create-ticket-right {
    width: 20%;
}