.create-macro-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
}

#create-macro-button {
    margin-top: 25px;
    height: 50px;
    border-radius: 30px;
    background-color: #1b3c59;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

#create-macro-button:hover {
    background-color: rgb(187, 213, 247);
    color: black;
    box-shadow: 2px 2px 3px 2px rgb(41, 51, 72);
  
}

#disabled {
    margin-top: 25px;
    height: 50px;
    border-radius: 20px;
    background-color: #98aebe;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

#create-macro-error-message {
    text-align: center;
    color: red;
    min-height: 5px;
    max-height: 5px;
}

#invisi-text {
    text-align: center;
    color: white;
    min-height: 5px;
    max-height: 5px;
}

#create-macro-header {
    padding: 10px;
    text-align: center;
}

.create-macro-input {
    width: 97%;
    height: 40px;
    margin-bottom: 15px;
}

.creat-macro-label {
    margin-bottom: 8px;
}

.create-macro-error {
    color: red;
    min-height: 5px;
    max-height: 5px;
}

