.profile-dropdown {
  padding-top: 5px;
  position: absolute;
  color:rgb(222, 238, 253);
  list-style-type: none;
}

.menu-links {
  color: white;
  text-decoration: none;
}

.menu-links:hover {
  text-decoration: underline;
}

.profile-dropdown > li {
  padding-top: 10px;
}

.nav-div {
  display: flex;

}

.log-in-ul {
  color: white;
}

.nav-links {
  display: flex;
  color: rgb(226, 255, 245);
  text-decoration: none;
  justify-content: space-between;
}


.profile-buttons {
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  border: none;
  font-size: large;
  color: #00201b;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1.5px 1px black;
  
}



.profile-buttons:hover {
  background-color:rgb(37, 5, 241);
  color: white;
}

.text-dec-none {
  padding-top: 10px;
  text-decoration: none;
  font-size: larger;
  color: white;

  
}

.li-landing {
  width: 40%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
}

.li-landing-two {
  list-style-type: none;
}

#landing-h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 1px 1px 1px black;
}

#landing-h2 {
  margin-top: 0px;
  text-shadow: 1px 1px 1px black;
}

#landing-ul {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  padding-left: 20px;
  padding-right: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-top: 0px;
  background-color: #003c4a;
  height: 200px;
}

.hide {
  display: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  

}

.nav-link:hover {
  text-decoration: underline;
}

#log-out-button {
  border-radius: 20px;
  margin-top: 10px;
  height: 30px;
  width: 90px;
  font-weight: 300;
}

#log-out-button:hover {
  background-color:rgb(37, 5, 241);
  color: white;
}